*{
    margin: 0;
    padding:0
}
/*tags HTML*/
nav{
    margin: 0;
    padding: 10px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    align-items: center; 
}
h1, h2{
    padding: 15px;
}
/*classes*/
.top-link{
    margin: 10px 15px;
}
.container{
    padding: 0 50px;
}
